.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  height: 92px;
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: var(--primary-bg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
  }
}

.client_one {
  width: 44px;
  height: 49px;
}

@media screen and (min-width: 1200px) {
  .client_one {
    width: 41px;
    height: 47px;
  }
}

.client_two {
  width: 40px;
  height: 52px;
}

.client_three {
  width: 41px;
  height: 42px;
}

@media screen and (min-width: 1200px) {
  .client_three {
    width: 43px;
    height: 41px;
  }
}

.client_four {
  width: 80px;
  height: 42px;
}

@media screen and (min-width: 1200px) {
  .client_four {
    width: 85px;
    height: 41px;
  }
}

.client-five {
  width: 59px;
  height: 47px;
}

@media screen and (min-width: 1200px) {
  .client-five {
    width: 63px;
    height: 45px;
  }
}

.client_six {
  width: 88px;
  height: 45px;
}

@media screen and (min-width: 1200px) {
  .client_six {
    width: 94px;
    height: 44px;
  }
}
