@media screen and (max-width: 767px) {
  .features-heading__items:not(:last-child) {
    margin-bottom: 30px;
    // width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features-heading__list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
  .features-heading__items {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-heading__items {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-heading__items {
    width: 270px;
  }
}

.features-heading__item {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-decoration: none;
}

.features__icons {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__svg {
  width: 70px;
  height: 70px;
}

.features-heading__content {
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.7;
}

// .features__section {
//   padding-bottom: 47px;
// }
