.features__section {
  padding-bottom: 47px;
}

.features-heading__list {
  display: flex;
}

.features-heading__items {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__svg {
  width: 70px;
  height: 70px;
}

.features-heading__item {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-decoration: none;
}

.features-heading__content {
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.7;
}

.features-heading__title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
