.image-items__section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .image-items__section {
    display: flex;
    padding-top: 47px;
  }
  .image-items__list {
    display: flex;
  }
  .image-items__img:not(:last-child) {
    margin-right: 30px;
  }
  .image-items__wrapper_img {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
    .image-items__wrapper_text {
      position: absolute;
      display: inline-block;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 370px;
      height: 70px;
      padding: 27px 82px;
      white-space: nowrap;
      background-color: rgba(47, 48, 58, 0.8);
    }
    .image-items__text {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;
      color: var(--primary-bg-color);
    }
  }
}
