.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill: var(--primary-bg-color);
  }
}
